.popup__show-button-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    padding: 0;

    background-image: url(../../../images/close-icon-popap.svg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border: 0;

    transition: opacity 0.3s;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 580px) {
    .popup__show-button-close {
        top: -36px;
        right: 0px;
        width: 20px;
        height: 20px;
    }
}