.register__question{
    width: 358px;
    margin: 15px auto 80px;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}