.header__auth-link {
    width: 114px;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.header__auth-link:hover{
    opacity: 0.6;
}