.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 430px;
    height: 330px;
    margin: 195px auto;

    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
 }

 @media screen and (max-width: 580px) {
    .popup__container {
        width: 282px;
        height: 322px;
        margin-top: 123px;
        margin-bottom: 123px;
    }
 }